<html>

<head>
    <title>IMA HTML5 Simple Demo</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

</head>

<body>

    <div class="mainDiv">

        <h1>Testing <br> Google IMA SDK-based <br>outstream/in-read functionalities</h1>
        <div><a href="{{ url_for('secondrequest') }}">Go to second request</a></div>
        <div class="center">
            <div>


                <p class="markdown-body">This ad container is based on the <b> <a href="https://developers.google.com/interactive-media-ads/docs/sdks/html5/">
            Google IMA SDK for HTML5 V3</b></a>, which usually acts as a point of reference for displaying linear, non-linear, and companion ads in videos and games.
                </p>
            </div>

            <article>
                <!-- <button id="reload" class="w3-button w3-black w3-hover-red">Reload</button> -->
                <h1>About this attempt</h1>

                <p class="markdown-body">
                    This testing instance has all references to the otherwise needed video content <b>disabled</b>, making it an easy solution to implement as an outstream/inRead player. Specifically, the main video reference in the DOM and Google's videoContent
                    reference in ads.js are substituted to convert the IMA SDK in an outstream solution.

                    </Lorem>
                </p>
                <p class="markdown-body">Ad Div Opens after reaching this point:
                </p>


                <!-- HTML Ad Logic starts here (Copy paste this code) -->

                <!-- <div id="mainContainer">
                <div id="contentElement">Azerion Ad</div>
                <button id="playButton"></button>
            </div> -->

                <!-- HTML Ad Logic ends here -->

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

                <!-- HTML Ad Logic starts here (Copy paste this code) -->

                <div id="mainContainer">
                    <div id="contentElement">Improve Outstream</div>
                    <button id="playButton"></button>
                </div>


                <!-- HTML Ad Logic ends here -->

                <p class="markdown-body">

                    What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
                <p class="markdown-body">Another call is made here.
                </p>

            </article>
        </div>

    </div>

    <button id="mbtn" onclick="slideToggle()">SlideToggle</button>


    <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
    <script type="text/javascript" src="../static/ads.js"></script>

    <script>
    </script>
</body>

</html>